In [1]:
import pyodbc

In [14]:
pd_cxn_str = f"DRIVER=ODBC Driver 17 for SQL Server;SERVER=HP-NOTEBOOK;DATABASE=hr-ms;Trusted_Connection=yes;"
pd_cxn = pyodbc.connect(pd_cxn_str)
cursor = pd_cxn.cursor()

In [15]:
stmt = "select org_id, org_name from organizations"

cursor.execute(stmt)
orgs = cursor.fetchall()

emps = {}

for id, name in orgs:
    stmt = f"select emp_id from employees where org_id = {id}"
    cursor.execute(stmt)
    emps[id] = cursor.fetchall()

In [4]:
len(emps.keys())

10

In [5]:
len(emps[106])

52

In [6]:
orgs

[(106, 'Sauer, Robel and Kerluke'),
 (107, 'Koch and Sons'),
 (108, 'Howell-King'),
 (109, 'Schinner and Sons'),
 (110, 'Larson-Murphy'),
 (111, 'Romaguera Group'),
 (112, 'Bartell, Auer and Cremin'),
 (113, 'Senger-Kautzer'),
 (114, 'Haley, Grant and Yost'),
 (115, 'Schroeder-Schinner')]

In [7]:
import datetime
import random

In [8]:
start_time = datetime.time(hour=8)
end_time = datetime.time(hour=12)

time_ins= []
for i in range(20):
    hour = random.randint(start_time.hour, end_time.hour)
    minute = random.randint(0, 59)
    time_ins.append(datetime.time(hour=hour, minute=minute))

In [9]:
start_time = datetime.time(hour=12)
end_time = datetime.time(hour=17)

time_outs= []
for i in range(20):
    hour = random.randint(start_time.hour, end_time.hour)
    minute = random.randint(0, 59)
    time_outs.append(datetime.time(hour=hour, minute=minute))

In [13]:
# CREATE TABLE [dbo].[attendance]
# (
#   [atd_id] INT IDENTITY(100, 1) NOT NULL PRIMARY KEY,
#   [org_id] INT NOT NULL FOREIGN KEY REFERENCES [dbo].[organizations]([org_id]),
#   [atd_date] DATE NOT NULL,
# )



for id, name in orgs:
    date_ = datetime.date(2020, 1, 1)
    for i in range(1000):
        stmt = f"insert into attendance (org_id, atd_date) values ({id}, '{str(date_)}')"
        date_ += datetime.timedelta(days=1)
        cursor.execute(stmt)
        cursor.commit()
        
        # get the id of the attendance record just inserted
        stmt = "select @@IDENTITY"
        cursor.execute(stmt)
        atd_id = cursor.fetchone()[0]
        
        for emp in emps[id]:
            stmt = f"insert into attendanceDetails (atd_id, emp_id, time_in, time_out) values ({atd_id}, {emp[0]}, '{random.choice(time_ins)}', '{random.choice(time_outs)}')"
            cursor.execute(stmt)
            cursor.commit()

In [11]:
for id, name in orgs:
    stmt = f"select count(*) from attendance where org_id = {id}"
    cursor.execute(stmt)
    print(cursor.fetchone()[0])